#container {
  min-height: 100vh;

  .sider {
    .logo {
      color: white;
      text-align: center;
      font-size: 1.5em;
      height: 64px;
      line-height: 64px;
    }
  }

  #innerLayout {
    max-height: 100vh;
    overflow: hidden;

    .content {
      padding: 14px;
      min-height: 280px;
      height: calc(100vh - 100px);
      overflow: auto;
    }

    .header {
      display: flex;
      justify-content: end;
      align-items: center;
      height: 50px !important;
      background-color: white;
    }
  }
}
